.header {
  margin-top: 0;
  height: 5 rem;
}
.nav {
  margin-top: 0;
  width: 100vw;
  background: white;
}

.nav ul {
  margin-top: 0;
  max-width: 40vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav ul li {
  margin-top: 22px;
}

.nav ul h3 {
  color: rgb(43, 43, 124);
}
